<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body class="bg-gray-500 text-white">
    <!-- barra de navegacion -->
    <div id="div" class="fixed w-screen"></div>
    <!-- contenido principal de la pagina  -->
    <div class="flex flex-row pt-15 h-screen">
        <!-- barra de navegacion lateral -->
        <div id="navLateral" class="w-60 flex h-screen"></div>
        <!-- contenido de la pagina  -->
        <section class=" bg-gray-500 flex flex-col w-screen h-screen pt-16">
          <div class="h-30 justify-start p-4">
            <h1 class="text-indigo-700 text-xl font-bold">Bienvenido de vuelta!!</h1>
          </div>
          <div>

          </div>
          
        </section>
        
    </div>
    
    <script type="module" src="../components/inicio.js"></script>
    <script type="module" src="../components/navLateral.js"></script>
    <script src="index.js"></script>
</body>
</html>

    
    
